<header>
    <img class="logo" src="logo.jpg" alt="Logo">
    <nav>
        <ul class="nav_links">
            <li><a href="/index">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <a class="cta" href="/contact"><button>Contact</button></a>
</header>