<body>
    <div class="first_part_about">
        <div class="first_part_text">
            <h1><span class="auto-type"></span></h1>
            <p>I am a third year computer science student studying at UBB</p>
        </div>
        <img src="first_image.jpg" alt="first image">
    </div>
    <div class="second_part_about">
        <div class="second_part_text">
            <h2>My interests</h2>
            <p>I am interested in web development and databases</p>
        </div>
    </div>
    <div class="third_part_about">
        <div class="third_part_text">
            <h2>My hobbies</h2>
            <p>I like to play video games, read books and watch films and documenaries</p>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="/script.js"></script>
</body>