<body>
    {{> navigation}}
    <div class="first_part_about">
        <div class="first_part_text">
            <h1><span class="auto-type"></span></h1>
            <p><span class="auto-type2"></span></p>
        </div>
        <img src="first_image.jpg" alt="first image">
    </div>
    <div class="second_part_about">
        <div class="second_part_text">
            <h2>My interests</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget auctor lorem. Quisque leo nisl, malesuada sed mauris vel, cursus tincidunt nisi. Etiam a imperdiet sapien. Pellentesque nec leo nec turpis gravida tempor et id neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam aliquam molestie ligula, et elementum lectus tempus quis. Nulla blandit scelerisque turpis, eu cursus tortor hendrerit ut.</p>
            <p>Ut purus orci, iaculis ac diam eget, pellentesque tempor est. Proin imperdiet, orci quis mattis ultrices, purus magna laoreet nisi, in maximus urna nunc eu sem. Sed eget posuere sapien, at bibendum urna. Donec pulvinar, urna et cursus faucibus, massa mauris lobortis lorem, ut mollis lacus ipsum vitae turpis. Vestibulum nec scelerisque purus. Maecenas posuere ex mauris. Duis euismod ligula eget eleifend dapibus. Sed malesuada tellus lorem, eget molestie sapien venenatis vitae. Aenean sit amet bibendum felis. Nulla nec enim vitae urna vestibulum suscipit. Phasellus interdum ac turpis quis tincidunt. Fusce vitae condimentum lorem. Vivamus feugiat metus quis orci dictum aliquet. Sed interdum interdum erat ultricies dapibus. Mauris vitae pellentesque sapien.</p>
        </div>
    </div>
    <div class="third_part_about">
        <div class="third_part_text">
            <h2>My hobbies</h2>
            <p>Sed pretium lorem non tellus rutrum maximus. Proin sit amet scelerisque orci. Aliquam sit amet interdum ipsum, vitae dictum lorem. Maecenas porttitor lobortis sem, nec volutpat est elementum id. Proin erat lorem, finibus vel ullamcorper sed, volutpat sit amet erat. Nullam dui sapien, aliquet in egestas vel, fringilla eu leo. Integer gravida, quam ac lacinia consectetur, ex purus imperdiet sapien, eget semper est tortor in tortor. Quisque commodo tortor non interdum suscipit. Maecenas et molestie quam. Nam a nisi mauris. Donec tincidunt bibendum lacinia. Suspendisse sodales suscipit dui, vitae aliquet felis tristique nec. Vestibulum convallis tellus ac est porta, vitae ultricies dolor dignissim. Integer ultrices felis et posuere blandit. Vivamus consequat rhoncus risus in volutpat.</p>
            <p>Sed vel tincidunt orci, a vehicula mauris. Praesent molestie quis eros in bibendum. Proin sagittis neque nec commodo facilisis. Ut varius condimentum ipsum, sit amet ornare nibh tempus sed. Sed efficitur viverra nisi, et euismod tellus venenatis sed. Nullam non est vitae ipsum tristique rhoncus eu sit amet dui. Cras nec ultrices est, sed condimentum justo. Vivamus facilisis malesuada sapien ut consectetur. Fusce ac turpis sed augue commodo vulputate.
Curabitur efficitur mattis libero, a molestie enim maximus et. Proin luctus at lorem vestibulum aliquet. Morbi quis risus blandit, consequat ante id, semper mi. Vestibulum vitae maximus arcu. Phasellus commodo porta massa a auctor. Vivamus porta nec quam vel porta. Etiam eu velit mollis erat molestie elementum. Proin sed iaculis leo. Praesent dolor lacus, rhoncus aliquam hendrerit nec, facilisis et purus. Nunc ac pulvinar est. Aliquam a eros mauris. Nullam non risus nec magna imperdiet vulputate.</p>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="/script.js"></script>
    {{> footer}}
</body>