<body>
    {{> navigation}}
    <div class="first_part_about">
        <div class="first_part_text">
            <h1><span class="auto-type"></span></h1>
            <p><span class="auto-type2"></span></p>
        </div>
        <img src="first_image.jpg" alt="first image">
    </div>
    <div class="second_part_about">
        <div class="second_part_text">
            <h2>My interests</h2>
            <p>As a third-year computer science student, I am deeply interested in web development and databases, particularly Microsoft SQL Server (MSSQL). I enjoy working with HTML, CSS, and JavaScript to build interactive interfaces and am keen to learn more about APIs such as React and Angular. My goal is to combine these skills to develop scalable, efficient web solutions that meet the evolving needs of users and businesses. I am currently seeking junior positions and internships where I can gain real-life experience in development and learn from professional software developers.</p>
        </div>
    </div>
    <div class="third_part_about">
        <div class="third_part_text">
            <h2>My hobbies</h2>
            <p>
My hobbies include reading, playing video games, watching films, and exploring. I find reading and watching films to be great ways to dive into new worlds and unwind, especially when paired with video games. I'm also fond of exploring new places, whether it's discovering a new spot in the city, exploring the countryside, or visiting a new country. Immersing myself in different cultures, trying new foods, and experiencing diverse ways of life brings me joy and expands my understanding of the world around me.</p>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="/script.js"></script>
    {{> footer}}
</body>