<body>
    {{>navigation}}
    <div class="project-container">
        <div class="project static-stack">
            <h2>Static Stack Implementation</h2>
            <img src="blackjack.jpg" alt="Blackjack picture">
            <p>In this project, I implemented a static stack data structure and used it in a simple Blackjack game. I included two Word documents: "Specifikacio," which documents essential information about the stack data structure, and "Blackjack," which contains the game's statement. Both documents are in Hungarian.</p>
            <a href="https://github.com/gergopopovici/Static-Stack-Implementation-Project" class="project-button">Code</a>
        </div>
        <div class="project windows-form">
            <h2>Windows Form Application for a Restaurant</h2>
            <img src="windows_form2.jpg" alt="Restaurant picture">
            <p>The Windows Form Application is designed for managing a restaurant's table reservations. It includes functionality for users to log in and register, and it supports three types of users: Admin, User, and Guest. The application interface is in Hungarian. User Roles and Permissions: Admin: Can insert new reservations into the database. Can delete, update, and select any records from the database. User: Can insert new reservations, but only under their own name. Can select and view their own reservations from the database. Guest: Can only view and select records from the 'Foglalas' (reservations) table. This structure ensures that different types of users have appropriate access and control over the reservation data, enhancing both security and usability.</p>
            <a href="https://github.com/gergopopovici/Windows-Form-Applicaton-Database" class="project-button">Code</a>
        </div>
        <div class="project snake">
            <h2>Snake Game</h2>
            <img src="snake.png" alt="Snake picture">
            <p>I implemented a basic Java Snake game using the Model-View-Controller design pattern.</p>
            <a href="https://github.com/gergopopovici/Basic-Snake-Game" class="project-button">Code</a>
        </div>
        <div class="project openGL">
            <h2>OpenGL Project</h2>
            <img src="apple.jpg" alt="OpenGL picture">
            <p>A fruit collection game where you play as a squirrel and collect apples. The fruits appear in a forest skybox and move around. The player can choose between first-person and third-person views.</p>
            <a href="https://github.com/gergopopovici/OpenGL-Project" class="project-button">Code</a>
        </div>
        <div class="project Property-Website">
            <h2>Property Website</h2>
            <img src="property_website.jpg" alt="Property picture">
            <p>This web application, with a Hungarian user interface, allows users to advertise and sell apartments. Features include:
Login as admin or user (registration required for the latter) Guest: view listings, search, filter User: guest functionalities + manage own listings (including images) - send messages to other users Admin: user functionalities + delete any listing - list and search users - promote user to admin - revoke admin rights</p>
            <a href="https://github.com/gergopopovici/PropertyWebsite" class="project-button">Code</a>
        </div>
    </div>
    {{>footer}}
</body>
