@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li,
a,
button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding: 30px 10%;
}
.logo {
  cursor: pointer;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  align-items: center;
  justify-content: center;
}
.nav_links {
  list-style: none;
}
.nav_links li {
  display: inline-block;
  padding: 0 20px;
}
.nav_link li a {
  transition: all 0.3s ease 0s;
}
.nav_link li a:hover {
  color: black;
}
button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
footer {
  padding: 100px;
  background-color: #333;
  animation: CSSscrollReveal ease-in-out both;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}
.footerContainer {
  width: 100%;
  padding: 70px 30px 20px;
}
.socialIcons {
  display: flex;
  justify-content: center;
}
.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i {
  font-size: 2em;
  color: black;
  opacity: 0.9;
}
.socialIcons a:hover {
  background-color: #111;
  transition: 0.5s;
}
.socialIcons a:hover i {
  color: white;
  transition: 0.5s;
}
.footerNav {
  margin: 30px 0;
}
.footerNav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
.footerNav ul li a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}
.footerNav ul li a:hover {
  opacity: 1;
  transition: 0.5s;
}
.footerText {
  background-color: #000;
  padding: 20px;
  text-align: center;
}
.footerText p {
  color: white;
  opacity: 0.7;
}
.first_part_about {
  display: flex;
  align-items: center; /* This will vertically center-align the items */
  justify-content: space-around; /* This will distribute space around the items */
}
.first_part_about h1 {
  font-size: 30px;
  color: #333;
  font-weight: bold;
}
.first_part_about img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  display: block;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
.first_part_about img.show {
  opacity: 1;
}
.first_part_about,
.second_part_about,
.third_part_about,
header {
  padding: 115px;
  animation: CSSscrollReveal ease-in-out both;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}
@keyframes CSSscrollReveal {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
body {
  font-family: 'Outfit';
  background-color: #808080;
}
.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}
.contact-left {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}
.contact-left-title h2 {
  font-weight: 600;
  color: #2a2a7b;
  font-size: 40px;
  margin-bottom: 5px;
}
.contact-left-title hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: #2a2a7b;
  border-radius: 10px;
  margin-bottom: 20px;
}
.contact_input {
  width: 400px;
  height: 50px;
  border: none;
  padding-left: 25px;
  font-weight: 500;
  color: hsl(240, 100%, 0%);
  border-radius: 50px;
}
.contact-left textarea {
  height: 140px;
  padding-top: 20px;
  border-radius: 20px;
}
.contact_input.contact_input:focus {
  border: 2px solid #746cb4;
}
.contact_input::placeholder {
  font-weight: 500;
  color: hsl(240, 100%, 0%);
}
.contact-left button {
  display: flex;
  align-items: center;
  padding: 15px, 30px;
  font-size: 16px;
  color: #fff;
  gap: 20px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(90deg, #2a2a7b, #746cb4);
  cursor: pointer;
}
.contact-left button img {
  height: 15px;
}
.contact-right img {
  width: 500px;
}
@media (max-width: 800px) {
  header {
    flex-direction: column;
    padding: 20px;
  }

  .nav_links li {
    display: block;
    padding: 10px 0;
  }

  .first_part_about {
    flex-direction: column;
    padding: 50px 20px;
  }

  .first_part_about h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }

  .first_part_about img {
    width: 100%;
    height: auto;
  }

  .second_part_about,
  .third_part_about {
    padding: 50px 20px;
  }

  .contact-container {
    flex-direction: column;
    height: auto;
    padding: 50px 20px;
  }

  .contact_input {
    width: 80vw;
  }

  .contact-right {
    display: none;
  }
}
